 <style type="text/css">
      
        
           a {
               color:indianred;
           }
           
           p {
               color: darkred;
               font-weight: bold;
           }
           
       </style>